In [2]:
#!pip install urllib3
import pandas as pd
import requests
import json
import numpy as np

In [3]:
filepath = r"C:\Users\danie\Desktop\WBS.DataScience_Bootcamp\Week_6_Webscraping_API\EU_cities.csv"
EU_cities = pd.read_csv(filepath, sep = ",")
EU = EU_cities.copy()

In [23]:
EU_top_30 = EU.head(30)
EU_top_30

,City,Country,Population,Latitude,Longitude,Lat_dec,Long_dec
0,Berlin,Germany,3677472,52°31′12″N,13°24′18″E,52.520,13.405
1,Madrid,Spain,3305408,40°25′01″N,03°42′12″W,40.417,-3.703
2,Rome,Italy,2761632,41°53′36″N,12°28′58″E,41.893,12.483
3,Paris,France,2139907,48°51′24″N,2°21′8″E,48.857,2.352
4,Vienna,Austria,1962779,48°12′N,16°22′E,48.200,16.367
5,Warsaw,Poland,1863056,52°13′48″N,21°00′40″E,52.230,21.011
6,Hamburg,Germany,1853935,53°33′N,10°00′E,53.550,10.000
7,Bucharest,Romania,1716983,44°25′57″N,26°6′14″E,44.432,26.104
8,Budapest,Hungary,1706851,47°29′33″N,19°03′05″E,47.492,19.051
9,Barcelona,Spain,1636732,41°23′N,2°11′E,41.383,2.183
10,Munich,Germany,1487708,48°08′15″N,11°34′30″E,48.138,11.575
11,Milan,Italy,1371498,45°28′01″N,09°11′24″E,45.467,9.190
12,Sofia,Bulgaria,1307439,42°42′N,23°20′E,42.700,23.330
13,Prague,Czech Republic,1275406,50°05′15″N,14°25′17″E,50.088,14.421
14,Cologne,Germany,1073096,50°56′11″N,6°57′10″E,50.936,6.953
15,Stockholm,Sweden,978770,59°19′46″N,18°4′7″E,59.329,18.069
16,Amsterdam,Netherlands,921402,52°22′22″N,04°53′37″E,52.373,4.894
17,Naples,Italy,914758,40°50′N,14°15′E,40.833,14.250
18,Marseille,France,870731,43°17′47″N,5°22′12″E,43.296,5.370
19,Turin,Italy,848885,45°04′45″N,07°40′34″E,45.079,7.676
20,Kraków,Poland,802583,50°03′41″N,19°56′14″E,50.061,19.937
21,Valencia,Spain,789744,39°28′00″N,0°22′30″W,39.467,-0.375
22,Zagreb,Croatia,769944,45°49′N,15°59′E,45.817,15.983
23,Frankfurt am Main,Germany,759224,50°06′38″N,08°40′56″E,50.111,8.682
24,Seville,Spain,684234,37°14′N,5°59′W,37.240,-5.990
25,Zaragoza,Spain,675301,41°39′N,0°53′W,41.650,-0.883
26,Wrocław,Poland,674312,51°06′36″N,17°01′57″E,51.110,17.032
27,Łódź,Poland,664860,51°46′37″N,19°27′17″E,51.777,19.455
28,Rotterdam,Netherlands,663945,51°55′N,4°30′E,51.917,4.500
29,Helsinki,Finland,658864,60°10′15″N,24°56′15″E,60.171,24.938

In [24]:
EU_top_30.to_csv("EU_top_30_cities.csv", index=False)

In [5]:
def forecast_n(cities):
    appid = #"open-weather-API-key"
    exclude = ["minutely","hourly","alerts"]
    city = []
    temp = []
    temp_felt = []
    humidity = []
    weather = []
    weather_det = []
    wind = []
    date = []
    for i in range(len(cities)):
        Lat = cities.Lat_dec[i]
        Long = cities.Long_dec[i]
        url = f"http://api.openweathermap.org/data/2.5/forecast?lat={Lat}&lon={Long}&exclude={exclude}&appid={appid}&units=metric"
        response = requests.get(url)
        wd = response.json()
        try:
            for w in wd['list']:
                if w.get('dt_txt').find("12:00:00")>0:
                    city.append(cities.City[i])
                    temp.append(w.get('main').get('temp'))
                    temp_felt.append(w.get('main').get('feels_like'))
                    humidity.append(w.get('main').get('humidity'))
                    weather.append(w.get('weather')[0].get('main'))
                    weather_det.append(w.get('weather')[0].get('description'))
                    wind.append(w.get('wind').get('speed'))
                    date.append(w.get('dt_txt').split(" ")[0])
                else:
                    continue
        except:
            continue
    weather_df = pd.DataFrame({
        "City": city,
        "Temperature": temp,
        "Feels_like": temp_felt,
        "Humidity": humidity,
        "Weather": weather,
        "Weather_Details": weather_det,
        "Windspeed": wind,
        "Date": date
        })
    weather_df["Date"] = pd.to_datetime(weather_df.Date) # not tested so far
    forecast = weather_df.set_index("City").drop_duplicates()
    forecast = forecast.reset_index() # not tested so far
    return forecast

In [8]:
cities = EU.head(30)

In [9]:
result = forecast_n(cities)
result

,Temperature,Feels_like,Humidity,Weather,Weather_Details,Windspeed,Date
City,,,,,,,
Berlin,3.33,-0.59,76,Clouds,broken clouds,4.69,2023-02-10
Berlin,5.47,1.38,92,Clouds,overcast clouds,6.29,2023-02-11
Berlin,9.67,7.46,70,Clouds,overcast clouds,4.30,2023-02-12
Berlin,8.85,6.81,71,Clear,clear sky,3.57,2023-02-13
Berlin,8.48,8.48,61,Clear,clear sky,1.02,2023-02-14
...,...,...,...,...,...,...,...
Helsinki,0.27,-6.73,76,Clouds,overcast clouds,10.81,2023-02-10
Helsinki,-0.25,-4.30,72,Clouds,broken clouds,3.60,2023-02-11
Helsinki,1.35,-4.28,89,Clouds,overcast clouds,7.24,2023-02-12
Helsinki,5.27,0.44,75,Clouds,overcast clouds,8.28,2023-02-13
Helsinki,1.07,-2.92,73,Clouds,broken clouds,3.93,2023-02-14

In [17]:
result = result.reset_index()

In [20]:
result

,City,Temperature,Feels_like,Humidity,Weather,Weather_Details,Windspeed,Date
0,Berlin,3.33,-0.59,76,Clouds,broken clouds,4.69,2023-02-10
1,Berlin,5.47,1.38,92,Clouds,overcast clouds,6.29,2023-02-11
2,Berlin,9.67,7.46,70,Clouds,overcast clouds,4.30,2023-02-12
3,Berlin,8.85,6.81,71,Clear,clear sky,3.57,2023-02-13
4,Berlin,8.48,8.48,61,Clear,clear sky,1.02,2023-02-14
...,...,...,...,...,...,...,...,...
145,Helsinki,0.27,-6.73,76,Clouds,overcast clouds,10.81,2023-02-10
146,Helsinki,-0.25,-4.30,72,Clouds,broken clouds,3.60,2023-02-11
147,Helsinki,1.35,-4.28,89,Clouds,overcast clouds,7.24,2023-02-12
148,Helsinki,5.27,0.44,75,Clouds,overcast clouds,8.28,2023-02-13
149,Helsinki,1.07,-2.92,73,Clouds,broken clouds,3.93,2023-02-14

In [22]:
result.to_csv("EU_top_30_cities_forecast.csv", index=False)

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, Berlin to Helsinki
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temperature      150 non-null    float64
 1   Feels_like       150 non-null    float64
 2   Humidity         150 non-null    int64
 3   Weather          150 non-null    object
 4   Weather_Details  150 non-null    object
 5   Windspeed        150 non-null    float64
 6   Date             150 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 9.4+ KB